.dev_one_container {
    display: flex;
    flex-direction: column;
    background-color: #222828;
    color: #dfdfdf;
    font-family: "Roboto", monospace;
}

.dev_one_c_four h3 {
    margin-bottom: 30px;
}

.dev_one_c_three h3 {
    margin-bottom: 30px;
}

.dev_one_container h2 {
    opacity: 0.7;
}

.dev_one_container h4 {
    opacity: 0.7;
    margin-bottom: 10px;
}

.dev_one_container h3{
    opacity: 0.7;
    margin-top: 30px;
}

.dev_one_container p {
    opacity: 0.6;
    margin-bottom: 20px;
}

.dev_one_c_five h3 {
    margin-top: -10px;
    margin-bottom: 30px;
}