.board_games_section_container {
    background-color: #2c3333;
}

.board_games_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3% 7%;
}

.board_games_heading_section {
    width: 100%;
    font-family: 'Roboto', monospace;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.board_games_section_heading_text {
    color: #dfdfdf;
    opacity: 0.9;
    font-size: 36px;
    
}

.board_games_section_description_text {
    color: #dfdfdf;
    opacity: 0.7;
    line-height: 24px;
}